<% if resource.errors.any? %>
  <div id="error_explanation">
 <h4> <mark>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %></mark>
    </h4>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li class="alert alert-danger"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
